mu=0.035
rho=1056

directory=qs_bratu/feelpp

[gmsh]
filename=$cfgdir/feelpp.geo

[functions]
#g=sin(mu*pi*x)*cos(mu*pi*y):x:y:mu
#g=sin(pi*x)*cos(pi*y)*cos(pi*z)
#f=1
g=0
q=0

[exporter]
format=ensightgold
geometry=static


pc-type=lu #gasm,lu,fieldsplit,ml,ilu

snes-monitor=1
snes-maxit=5000
